<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bitacademy.java41.dao.MemberImageMapper">
	
	<insert id="addPhoto" parameterType="map">
		insert into SPMS_MEMIMG(EMAIL,IMGURL)
		values( #{email}, #{path} )
	</insert>	

	<select id="listPhoto" parameterType="String" resultType="Photo">
   		select INO as no, IMGURL as filename
		from SPMS_MEMIMG
		where EMAIL = #{value}
		order by INO desc
	</select>
	
	<delete id="deletePhoto" parameterType="string">
		delete from SPMS_MEMIMG
		where email = #{value}
	</delete>
	
</mapper>


