<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.bitacademy.java41.dao.FeedDao">

	<select id="getFeedList" parameterType="int" resultType="Feed">
		select a.FNO as feedNo 
			, a.PNO as projectNo 
			, a.EMAIL 
			, a.CONTENT 
			, a.REG_DATE as regDate 
			, a.MNAME as name 
			, a.LEVEL as prjMembLevel
			, b.IMGURL as photoUrl
		from (
				select a.FNO, a.PNO, a.EMAIL, a.CONTENT, a.REG_DATE, c.MNAME,  b.LEVEL 
				from SPMS_FEEDS a 
					, SPMS_PRJMEMB b 
					, SPMS_MEMBS c 
				where 1=1 
					and a.PNO = b.PNO 
					and a.EMAIL = b.EMAIL 
					and b.EMAIL = c.EMAIL 
					and a.PNO = #{value}
			) a left join SPMS_MEMIMG b on a.EMAIL = b.EMAIL 
		order by a.FNO desc 		
	</select>
	
	<insert id="addFeed" parameterType="Feed">
		insert into SPMS_FEEDS (CONTENT, REG_DATE, EMAIL, PNO) 
			values (#{content}, now(), #{email}, #{projectNo});
	</insert>
	
	<delete id="deleteFeed" parameterType="map">
		delete from SPMS_FEEDS 
		<where>
			<trim prefixOverrides="AND|OR">
			<if test="projectNo != 0">
				PNO = #{projectNo} 
			</if>
			<if test="feedNo != 0">
				and FNO = #{feedNo}
			</if>
			<if test="email != null">
				and email = #{email}
			</if>
			</trim>
		</where> 
	</delete> 
	
	
</mapper> 






