<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.bitacademy.java41.dao.FeedDao">

	<select id="getFeedList" parameterType="int" resultType="Feed">
		select a.FNO as feedNo
			, a.PNO as projectNo
			, a.EMAIL
			, a.CONTENT
			, a.REG_DATE as regDate
			, c.MNAME as name
			, d.IMGURL as photoUrl
			, b.LEVEL as prjMembLevel
		from SPMS_FEEDS a
			, SPMS_PRJMEMB b
			, SPMS_MEMBS c left join 
			 (
				select EMAIL, IMGURL
				from SPMS_MEMIMG
				where 1=1
				order by INO desc limit 0, 1
				) d on c.EMAIL = d.EMAIL 
		where 1=1
			and a.PNO = b.PNO
			and a.EMAIL = b.EMAIL
			and b.EMAIL = c.EMAIL
			and a.PNO = #{value}
	</select>
	
	<insert id="addFeed" parameterType="Feed">
		insert into SPMS_FEEDS (CONTENT, REG_DATE, EMAIL, PNO) 
			values (#{content}, now(), #{email}, #{projectNo});
	</insert>
	
	<delete id="deleteFeed" parameterType="map">
		delete from SPMS_FEEDS 
		<where>
			<trim prefixOverrides="AND|OR">
			<if test="projectNo != 0">
				PNO = #{projectNo} 
			</if>
			<if test="feedNo != 0">
				and FNO = #{feedNo}
			</if>
			<if test="email != null">
				and email = #{email}
			</if>
			</trim>
		</where> 
	</delete> 
	
<!-- 
	<select id="getTaskList" resultType="Task" parameterType="int">
		select TNO as taskNo, 
				PNO as projectNo, 
				TITLE, 
				UIPROTOURL, 
				CONTENT, 
				START_DATE as startDate,
				END_DATE as endDate, 
				STATUS
	 	from SPMS_TASKS 
	 	where 1=1
	 		and PNO = #{value} 
	 	order by TNO desc
	</select>
	
	

	
	
	<update id="updateTask" parameterType="Task">
		update SPMS_TASKS 
		set
			TITLE = #{title}, 
			UIPROTOURL = #{uiProtoUrl}, 
			CONTENT = #{content},
			START_DATE = #{startDate}, 
			END_DATE = #{endDate}, 
			STATUS = #{status}
		where 1=1
			and PNO = #{projectNo} 
			and TNO = #{taskNo}
	</update>
	
	-->
	
	
	
</mapper> 






