<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bitacademy.java41.dao.ProjectDao">

	<select id="getUserProjectList" parameterType="string" resultType="Project">
		select a.PNO as no
			, a.TITLE
			, a.CONTENT
			, a.START_DATE as startDate
			, a.END_DATE as endDate
			, a.TAG
			, b.LEVEL
			, c.EMAIL as plEmail
			, c.MNAME as plName
			, c.TEL as plTel
		from SPMS_PRJS a
		     , (
		        select PNO, EMAIL, LEVEL
		         from SPMS_PRJMEMB 
		         where EMAIL = #{value}
		        ) b
		     , SPMS_MEMBS c
		 where a.PNO = b.PNO
		     and b.EMAIL = c.EMAIL
		 order by a.PNO desc
	</select>
	
	<select id="getProjectList" resultType="Project">
		select a.PNO as no
			, a.TITLE
			, a.CONTENT
			, a.START_DATE as startDate
			, a.END_DATE as endDate
			, a.TAG
			, a.LEVEL
			, a.EMAIL as plEmail
			, b.MNAME as plName
			, b.TEL as plTel
		 from (
		         select a.PNO, a.TITLE, a.CONTENT, a.START_DATE, a.END_DATE, a.TAG, b.LEVEL, b.EMAIL
		         from SPMS_PRJS a left join SPMS_PRJMEMB b on (a.PNO = b.PNO)
		         where 1=1
		             and b.LEVEL = 0 or b.LEVEL is null
		        ) a , SPMS_MEMBS b
		 where 1=1
		     and a.EMAIL = b.EMAIL
		 order by a.PNO desc
	</select>
	
	<select id="getProjectInfo" resultType="Project" parameterType="int">
 	    select a.PNO as no, a.TITLE, a.CONTENT, a.START_DATE as startDate,  
 	     		a.END_DATE as endDate, a.TAG, b.LEVEL, b.EMAIL as plEmail,  
 	     		b.MNAME as plName, b.TEL as plTel 
 		from SPMS_PRJS a  
 					left join ( 
 					select a.PNO, a.LEVEL, a.EMAIL, b.MNAME, b.TEL 
 		 			from SPMS_PRJMEMB a, SPMS_MEMBS b 
 		 			where a.EMAIL = b.EMAIL group by a.PNO) b  
 					on (a.PNO = b.PNO) 
 		where 1=1  
 		and a.PNO = #{value}
 		order by a.PNO desc 
	</select>
	
	<insert id="addProject" parameterType="Project"
		useGeneratedKeys="true" keyProperty="no">
		insert into SPMS_PRJS( TITLE, CONTENT, START_DATE, END_DATE, TAG )
		values( #{title}, #{content}, #{startDate}, #{endDate}, #{tag} )
	</insert>
	
	<update id="update" parameterType="Project">
		update SPMS_PRJS set
			TITLE = #{title},
			CONTENT = #{content},
	 		START_DATE = #{startDate},
			END_DATE = #{endDate},
			TAG = #{tag}
		where PNO = #{no}
	</update>
	
	<delete id="deleteProject" parameterType="int">
		delete from SPMS_PRJS 
		where PNO = #{value}
	</delete>
	
</mapper>


